@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "SegoeUI-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/segoeui.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/segoeuil.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/seguisb.ttf") format("truetype");
}
@font-face {
  font-family: "SegoeUI-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/segoeuib.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FontsFree-Net-arial-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Arial-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Arial.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
